<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-6">
        <form>
                        div class="form-group">
                            <label>coursecode:</label>
                            <input class="form-control" name="coursecode" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control" name="CourseDescription" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>addcourse:</label>
                            <input class="form-control" value="submit" type="submit" />
                        </div>
                    </div>
                </div>
               </form> 

</body>
</html>