<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h3>Web programing foundation</h3>
        <div class="col-md-6">
                    <div class="form-group">
                            <label>course code:</label>
                            <input class="form-control" name="lastname" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>CourseDescription:</label>
                            <input class="form-control" name="description" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>update:</label>
                            <input class="form-control" name="lastName" type="submit" />
                        </div>
                    </div>


    </form>
</body>
</html><form></form>